<template>
  <require from="../components/doublegauge"></require>
  <h1>Obergeschoss</h1>
  <div class="gauge">
      <double-gauge cfg.bind="conf.bad_oben_cfg"></double-gauge>
    </div>
  <a href="/#/overview">Zur übersicht</a>
</template>