<template>
  <div if.bind="pressed" click.trigger="toggle()">
    <svg width="100px" height="100px">
      <rect class="frame" width="100px" height="100px"></rect>
      <rect class="inner" x="5px" y="5px" width="90px" height="90px"></rect>
      <rect x="10px" y="10px" width="80px" height="80px" rx="10px" ry="10px" class="light_on"></rect>
    </svg>
  </div>
  <div if.bind="!pressed" click.trigger="toggle()">
      <svg width="100px" height="100px">
          <rect class="frame" width="100px" height="100px"></rect>
          <rect class="inner" x="5px" y="5px" width="90px" height="90px"></rect>
          <rect x="10px" y="10px" width="80px" height="80px"rx="10px" ry="10px" class="light_off"></rect>
        </svg>
  </div> 
</template>