<!--
/*******************************************************************
* Diese Datei ist Teil der Quellcodereferenz zum Buch             *
* 'Smarthome DIY' von Roger Inigo, (c) 2017                       *
* Sie dürfen dieses Programm für Anschauungszwecke verwenden      *
* und beliebig umgestalten. Sie tun dies absolut auf              *
* eigenes Risiko. Für korrekte Funktion oder Eignung              *  
* für einen bestimmten Zweck kann keine Gewähr übernommen werden. *
* Nutzung für kommerzielle Zwecke ist nicht gestattet.            *
*******************************************************************/
-->
<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="styles.css"></require>
  <require from="components/circulargauge"></require>
  <require from="components/doublegauge"></require>
  <require from="components/pushbutton"></require>
  <require from="components/tristatebutton"></require>
  <require from="components/timechart"></require>
  <require from="components/lineargauge"></require>
  <require from="components/pushbutton2"></require>
  <require from="components/setpoint"></require>
  <div class="container-fluid">
    <div class="row">
      <div class="switch">
        <lineargauge cfg.bind="conf.powermeter_cfg"></lineargauge>
      </div>
      <div class="switch">
        <tristate-button cfg.bind="conf.carloader_cfg"></tristate-button>
      </div>
      <div class="switch">
        <tristate-button cfg.bind="conf.fernsehlicht_cfg"></tristate-button>
      </div>
      <div class="switch">
        <tristate-button cfg.bind="conf.aussenlicht_cfg"></tristate-button>
      </div>
      <div class="switch">
        <push-button2 cfg.bind="conf.mediacenter_cfg"></push-button2>
      </div>
      <div class="switch">
        <push-button2 cfg.bind="conf.extender_cfg"></push-button2>
      </div>
      <div class="switch">
        <push-button2 cfg.bind="conf.e14_cfg"></push-button2>
      </div>

    </div>
    <div class="row">
      <div class="gauge" show.bind="conf.aussentemp_cfg.visible"
        click.trigger="switchGauge('aussentemp_cfg','aussen_chart_cfg')">
        <double-gauge cfg.bind="conf.aussentemp_cfg"></double-gauge>
      </div>
      <div class="gauge" show.bind="conf.aussen_chart_cfg.visible"
        click.trigger="switchGauge('aussen_chart_cfg','aussentemp_cfg')">
        <timechart cfg.bind="conf.aussen_chart_cfg"></timechart>
      </div>
      <div class="gauge" show.bind="conf.wohnzimmertemp_cfg.visible"
        click.trigger="switchGauge('wohnzimmertemp_cfg','wohnzimmer_chart_cfg')">
        <double-gauge cfg.bind="conf.wohnzimmertemp_cfg"></double-gauge>
      </div>
      <div class="gauge" show.bind="conf.wohnzimmer_chart_cfg.visible"
        click.trigger="switchGauge('wohnzimmer_chart_cfg','wohnzimmertemp_cfg')">
        <timechart cfg.bind="conf.wohnzimmer_chart_cfg"></timechart>
      </div>


      <div class="gauge" show.bind="conf.dusche_cfg.visible"
        click.trigger="switchGauge('dusche_cfg','dusche_chart_cfg')">
        <double-gauge cfg.bind="conf.dusche_cfg"></double-gauge>
      </div>
      <div class="gauge" show.bind="conf.dusche_chart_cfg.visible"
        click.trigger="switchGauge('dusche_chart_cfg','dusche_cfg')">
        <timechart cfg.bind="conf.dusche_chart_cfg"></timechart>
      </div>

      <div class="gauge" show.bind="conf.bad_oben_cfg.visible"
        click.trigger="switchGauge('bad_oben_cfg','bad_oben_chart_cfg')">
        <double-gauge cfg.bind="conf.bad_oben_cfg"></double-gauge>
      </div>
      <div class="gauge" show.bind="conf.bad_oben_chart_cfg.visible"
        click.trigger="switchGauge('bad_oben_chart_cfg','bad_oben_cfg')">
        <timechart cfg.bind="conf.bad_oben_chart_cfg"></timechart>
      </div>

      <div class="gauge" show.bind="conf.dachstock_cfg.visible"
        click.trigger="switchGauge('dachstock_cfg','dachstock_chart_cfg')">
        <double-gauge cfg.bind="conf.dachstock_cfg"></double-gauge>
      </div>
      <div class="gauge" show.bind="conf.dachstock_chart_cfg.visible"
        click.trigger="switchGauge('dachstock_chart_cfg','dachstock_cfg')">
        <timechart cfg.bind="conf.dachstock_chart_cfg"></timechart>
      </div>

      <div class="gauge" click.trigger="switchGauge('barometer_cfg','barometer_chart_cfg')">
        <circular-gauge cfg.bind="conf.barometer_cfg"></circular-gauge>
      </div>
      <div class="gauge" show.bind="conf.barometer_chart_cfg.visible"
        click.trigger="switchGauge('barometer_chart_cfg','barometer_cfg')">
        <timechart cfg.bind="conf.barometer_chart_cfg"></timechart>
      </div>
    </div>

    <!-- div class="row">
      <div class="gauge">
        <setpoint cfg.bind="conf.boiler_cfg"></setpoint>
      </div>
    </div -->
  </div>
</template>
