<!--
/*******************************************************************
* Diese Datei ist Teil der Quellcodereferenz zum Buch             *
* 'Smarthome DIY' von Roger Inigo, (c) 2017                       *
* Sie dürfen dieses Programm für Anschauungszwecke verwenden      *
* und beliebig umgestalten. Sie tun dies absolut auf              *
* eigenes Risiko. Für korrekte Funktion oder Eignung              *  
* für einen bestimmten Zweck kann keine Gewähr übernommen werden. *
* Nutzung für kommerzielle Zwecke ist nicht gestattet.            *
*******************************************************************/
-->
<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="styles.css"></require>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/img/smarthome.png" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" repeat.for="nav of router.navigation">
          <a class="nav-link" href.bind="nav.href">${nav.title}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div role="main" class="container">
    <router-view></router-view>
  </div>
</template>