@bordercolor: #a79ea3;
@fillcolor: #d3d3d3;
@captioncolor: #1c63ef;
@strokecolor: blue;

h2{
    color:#0000FF;
}

.switch{
  margin: 1px;
}

.gauge{
  margin: 2px;
}


.inner {
    fill: @fillcolor;
    stroke: @strokecolor;
    stroke-width: 0.6;
  }
  
.frame {
    border: 5px solid @bordercolor;
    border-radius: 5px;
    fill: #d6ff88;
    background-color: lighten(@fillcolor, 20%);
    opacity: 0.8;
    stroke: black;
    stroke-width: 1;
    padding: 5px;
} 

.white{
  fill: white;
  background-color: white;
}

.frame_inactive{
  .frame{
    fill: #aaaaaa;
  }
}

svg{
  .visible{
    fill: lightsalmon;
  }
  
  .pointer{
    stroke: #ff0000;
    fill: #ff1100;
    opacity: 0.8;
  }
  .light_on{
    fill: #e5fc1b;
    stroke: #a79ea3;
    stroke-width: 0.8;
  }
  .light_off{
    fill: #41454c;
    
  }
  .mode_auto{
    fill: #f714205d;
    stroke: #a79ea3;
    stroke-width: 0.8;
  
  }
  .mode_manual{
    fill: #d3d3d3;
    stroke: #a79ea3;
    stroke-width: 0.8;
    opacity: 0.2;
  
  }
  .lineleft {
    stroke: red;
    stroke-width: 0.8;
    fill: none;
   
  }
  .dotleft{
    fill: orangered;
  }
  .lineright{
    stroke: blue;
    stroke-width: 0.8;
    fill: none;
  }
  .dotright{
    fill: blue;
  }
  .negative{
    fill: red;
  }
  .positive{
    fill: green;
  }
  .tooltip{
    font-size: 12px;
    font-family: sans-serif;
    fill: seashell;
    stroke: red;
    opacity: 1
  }
  

}
